/*リセットCSS*/
body, h1, h2, p, ul, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* ベーススタイル */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 116px;
  width: 100vw;
  background-color: #81B6E6;
  z-index: 100;
}

footer {
  display: none;
  height: 50px;
  width: 100vw;
  background-color: #81B6E6;
  position: fixed;
  bottom: 0;
  left: 0;
}
/* スマホ画面用のCSS*/
@media screen and (max-width: 768px) {
.top-body{
  overflow: hidden;
  height: auto;background-color: #EFFBFF;
}
.top-back{
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-flow: column;
}
.top-back2{
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-flow: column;
}
.top-main{
  padding: 30px;
  background-color: #EFFBFF;
  margin-top: 116px;
  height: calc(100% - 116px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-business{
  height: 105px;
  width: 55vw;
  background-color: #ffffff;
  border: solid 5px #FFC1C1;
  border-radius: 28px;
  margin-top: 5vh;
}
.top-html{
  height: 105px;
  width: 55vw;
  background-color: #ffffff;
  border: solid 5px #A8A1FC;
  border-radius: 28px;
  margin-top: 10px;
  margin-top: 3vh;
}
.top-css{
  height: 11vh;
  width: 55vw;
  background-color: #ffffff;
  border: solid 5px #EEEF94;
  border-radius: 28px;
  margin-top: 3vh;
}
.top-java{
  height: 105px;
  width: 55vw;
  background-color: #ffffff;
  border: solid 5px #8EDB88;
  border-radius: 28px;
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-ruby{
  height: 11vh;
  width: 55vw;
  background-color: #ffffff;
  border: solid 5px #9D9A9A;
  border-radius: 28px;
  margin-top: 3vh;
  display: flex;
justify-content: center;
align-items: center;
}
.top-link{
  font-size: 6vw;
  text-align: center;
}
.top-a{
  color: #000;
  text-decoration-line: none;
}
.top-b{
  color: #000;
  text-decoration-line: none;
}
.top-c{
  color: #000;
  text-decoration-line: none;
}
}
/* PC画面用のCSS*/
@media screen and (min-width: 769px) {
.top-body{
  overflow: hidden;
  background-color: #EFFBFF;
  padding-top: 100px;
}
.top-back{
  background-color: #EFFBFF;
  height: 290px;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: space-around;
}
.top-back2{
  background-color: #EFFBFF;
  height: 357px;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content:space-around;
}
.top-main{
  padding: 30px;
  background-color: #EFFBFF;
  margin-top: 116px;
}
.top-business{
  height: 150px;
  width: 23vw;
  background-color: #ffffff;
  border: solid 5px #FFC1C1;
  border-radius: 28px;
  margin-top: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-html{
  height: 150px;
  width: 23vw;
  background-color: #ffffff;
  border: solid 5px #A8A1FC;
  border-radius: 28px;
  margin-top: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-css{
  height: 150px;
  width: 23vw;
  background-color: #ffffff;
  border: solid 5px #EEEF94;
  border-radius: 28px;
  margin-top: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-java{
  height: 150px;
  width: 23vw;
  background-color: #ffffff;
  border: solid 5px #8EDB88;
  border-radius: 28px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-ruby{
  height: 150px;
  width: 23vw;
  background-color: #ffffff;
  border: solid 5px #9D9A9A;
  border-radius: 28px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-link{
  font-size: 3vw;
  text-align: center;
}
.top-a{
  color: #000;
  text-decoration-line: none;
}
.top-b{
  color: #000;
  text-decoration-line: none;
  margin-left: 15%;
}
.top-c{
  color: #000;
  text-decoration-line: none;
  margin-right: 15%;
}
}

.wrapper-select {
  background-color: #effbff;
  height: calc(100vh - 166px); 
  width: 100vw;
  overflow-y: auto;
  position: absolute;
  top: 116px; 
  left: 0;
}

.main-select {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contents-select {
  color: black;
  width: 200px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid black;
  font-size: 2em;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
}

.contents-select:hover {
  background-color: #add8e6;
}


.contents-select.read {
  background-color: #d3d3d3;
  color: gray;
}


/* 
出題形式選択画面
*/
.format-main{
  height: calc(100% - 116px);
  width: 100%; 
  background-color: #EFF8FF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 116px;
}

.format-body{
  overflow: hidden;
}

.format-button{
  background-color: white;
  border-radius: 50%;
  border: none;
  text-align: center;
  font-weight: bold;
  margin: auto;
  height: 250px;
  width: 250px;
  font-size: 20px;
}

.format-button:hover {
  background-color: #f0f0f0;
}