/*リセットCSS*/
body, h1, h2, p, ul, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* ベーススタイル */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: #EFFBFF;
}

/* Navbar & Navmenu color */
:root {
  --background-navbar: rgba(129, 182, 230, 0.8);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 116px;
  width: 100vw;
  background-color: #81B6E6;
  z-index: 100;
  display: flex;
  justify-content: right;
}

/* Nav items */
.menu {
  list-style: none;
  position: absolute;
  width: 60%;
  height: auto;
  top: 0;
  margin-top: 112px;
  padding: 0 0 10px 0;
  clear: both;
  background: var(--background-navbar);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
}

/* Hamburger menu button */
.menu-btn:checked ~ .menu {
  transform: scale(1, 1);
  transform-origin: top;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

/* Hamburger menbu text */
.menu a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 3vw;
  text-transform: capitalize;
  opacity: 0;
  transition: 0.5s;
}

.menu li {
  border-top: 1px solid rgb(255, 255, 255);
  text-align: right;
  padding: 15px 0;
  margin: 0 54px;
  opacity: 0;
  transition: 0.5s;
}

.menu-btn:checked ~ .menu a,
.menu-btn:checked ~ .menu li {
  opacity: 1;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menu-btn {
  display: none;
}

.menu-icon {
  display: inline-block;
  position: absolute; 
  cursor: pointer;
  padding: 48px;
  -webkit-tap-highlight-color: rgb(255, 255, 255);
  right: 20px; 
  margin-top: 14px;
}

.navicon {
  background: #ffffff;
  display: block;
  height: 3px;
  width: 56px;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before,
.navicon:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #ffffff;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before {
  top: 19px;
}

.navicon:after {
  bottom: 19px;
}

/* Hamburger Menu Animation Start */
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  bottom: 0;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: rgb(255, 255, 255);
  transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
/* Hamburger Menu Animation End */

/* Navbar Container */
.navtext-container {
  width: 100%;
  height: 52px;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content:left;
  align-items: center;
  padding-left: 7vw;
}

/* Navbar Text */
.navtext {
  position: absolute;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 4px;
  font-size: 4vw;
  margin-top: 80px;
}
.top-business2{
  color: #ff6767;
}
.top-html2{
  color: #4c3cff;
}
.top-css2{
  color: #fdff71;
}
.top-java2{
  color: #acffa7;
}
.top-ruby2{
  color: #626262;
}

footer {
  display: none;
  height: 50px;
  width: 100vw;
  background-color: #81B6E6;
  position: fixed;
  bottom: 0;
  left: 0;
}
/*------------------------------------------------------------------------------ 
  トップページ
------------------------------------------------------------------------------ */
/* スマホ画面用のCSS*/
@media screen and (max-width: 768px) {
  .top-body{
    overflow: hidden;
    height: auto;
    background-color: #EFFBFF;
  }
  .top-back{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    flex-flow: column;
  }
  .top-back2{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    flex-flow: column;
  }
  .top-main{
    padding: 10px 30px 30px 30px;
    background-color: #EFFBFF;
    margin-top: 116px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .top-business{
    height: 11svh;
    width: 55vw;
    background-color: #ffffff;
    border: solid 5px #FFC1C1;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top-html{
    height: 11svh;
    width: 55vw;
    background-color: #ffffff;
    border: solid 5px #A8A1FC;
    border-radius: 28px;
    margin-top: 10px;
    margin-top: 3svh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top-css{
    height: 11svh;
    width: 55vw;
    background-color: #ffffff;
    border: solid 5px #EEEF94;
    border-radius: 28px;
    margin-top: 3svh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top-java{
    height: 11svh;
    width: 55vw;
    background-color: #ffffff;
    border: solid 5px #8EDB88;
    border-radius: 28px;
    margin-top: 3svh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top-ruby{
    height: 11svh;
    width: 55vw;
    background-color: #ffffff;
    border: solid 5px #9D9A9A;
    border-radius: 28px;
    margin-top: 3svh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top-link{
    font-size: 6vw;
    text-align: center;
  }
  .top-a{
    color: #000;
    text-decoration-line: none;
  }
  .top-b{
    color: #000;
    text-decoration-line: none;
  }
  .top-c{
    color: #000;
    text-decoration-line: none;
  }
}

/* PC画面用のCSS*/
@media screen and (min-width: 769px) {
  .top-back{
    background-color: #EFFBFF;
    height: 290px;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-around;
  }
  .top-back2{
    background-color: #EFFBFF;
    height: 357px;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:space-around;
  }
  .top-main{
    padding: 30px;
    background-color: #EFFBFF;
    margin-top: 116px;
  }
  .top-business{
    height: 150px;
    width: 23vw;
    background-color: #ffffff;
    border: solid 5px #FFC1C1;
    border-radius: 28px;
    margin-top: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top-html{
    height: 150px;
    width: 23vw;
    background-color: #ffffff;
    border: solid 5px #A8A1FC;
    border-radius: 28px;
    margin-top: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top-css{
    height: 150px;
    width: 23vw;
    background-color: #ffffff;
    border: solid 5px #EEEF94;
    border-radius: 28px;
    margin-top: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top-java{
    height: 150px;
    width: 23vw;
    background-color: #ffffff;
    border: solid 5px #8EDB88;
    border-radius: 28px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top-ruby{
    height: 150px;
    width: 23vw;
    background-color: #ffffff;
    border: solid 5px #9D9A9A;
    border-radius: 28px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top-link{
    font-size: 3vw;
    text-align: center;
  }
  .top-a{
    color: #000;
    text-decoration-line: none;
  }
  .top-b{
    color: #000;
    text-decoration-line: none;
    margin-left: 15%;
  }
  .top-c{
    color: #000;
    text-decoration-line: none;
    margin-right: 15%;
  }
}  

/*------------------------------------------------------------------------------ 
  問題選択画面
------------------------------------------------------------------------------ */
.wrapper-select {
  background-color: #effbff;
  height: calc(100vh - 116px); 
  width: 100vw;
  overflow-y: auto;
  position: absolute;
  top: 116px; 
  left: 0;
}

.main-select {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contents-select {
  color: black;
  width: 60vw;
  height: 12vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid black;
  font-size: 2em;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
}

.contents-select:hover {
  background-color: #add8e6;
}


.contents-select.read {
  background-color: #d3d3d3;
  color: gray;
}

/*------------------------------------------------------------------------------ 
  出題形式選択画面
------------------------------------------------------------------------------ */
.format-main{
  height: calc(100% - 116px);
  width: 100%; 
  background-color: #EFF8FF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 116px;
}

.format-body{
  overflow: hidden;
}

.format-button{
  background-color: white;
  border-radius: 50%;
  border: none;
  text-align: center;
  font-weight: bold;
  margin: auto;
  height: 250px;
  width: 250px;
  font-size: 20px;
}

.format-button:hover {
  background-color: #f0f0f0;
}

@media (min-width: 768px) {
  .format-main {
    flex-direction: row;
  }

  .format-button {
    margin: 70px;
  }
}

/*------------------------------------------------------------------------------ 
  出題ページ
------------------------------------------------------------------------------ */

.quiz-main {
  width: 100%;
  background-color: #EFFBFF;
  margin-top: 116px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.quiz-title {
  background-color: #d3d3d3;
  width: 80%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  font-size: 24px; /* 大きな文字サイズ */
  text-align: center;
  margin: 0 auto;
  padding:20px;
  word-break: break-all;
}
.quiz-title-css{
  background-color: #d3d3d3;
  width: 80%;
  border-radius: 50px;
  min-height: 150px;
  font-size: 24px; /* 大きな文字サイズ */
  margin: 0 auto;
  padding:20px;
  text-align: left;
  padding: 20px;
  word-break: break-all;
}
.quiz-answer {
  width: 80%;
  margin: 20px auto 0;
  text-align: center;
}

.quiz-answer input {
  display: none; /* ラジオボタンを非表示にする */
}

.quiz-answer input:checked + label {
  background: #31A9EE;/* マウス選択時の背景色を指定する */
  color: #ffffff; /* マウス選択時のフォント色を指定する */
}

.quiz-label {
  display: block; /* ブロックレベル要素化する */
  margin: 0 auto; /* ボックス外側の余白を指定する */
  width: 80%; /* ボックスの横幅を指定する */
  height: auto; /* ボックスの高さを指定する */
  padding: 5px; /* ボックス内左側の余白を指定する */
  color: white; /* フォントの色を指定 */
  text-align: center; /* テキストのセンタリングを指定する */
  background-color: #007BFF;
  border-radius: 5px; /* 角丸を指定する */
  word-break: break-all;
}

.quiz-answer-btn input{
  display: block;
  margin: 0 auto;
  width: 30%;
  background-color: #fabc59;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  margin-bottom: 30px;
}

#quiz-result {
  display: none;
  text-align: center;
}

.quiz_correct_answer {
  background-color: #d3d3d3;
  width: 80%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  font-size: 262px; /* 大きな文字サイズ */
  text-align: center;
  margin: 0 auto;
  color: red;
}

.quiz_incorrect_answer {
  background-color: #d3d3d3;
  width: 80%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  font-size: 200px; /* 大きな文字サイズ */
  text-align: center;
  margin: 0 auto;
  color: blue;
}

#quiz-explanation {
  display: none;
  width: 80%;
  margin: 0 auto;
}

.quiz-explanation-content{
  margin: 0 auto;
  width: 80%; /* ボックスの横幅を指定する */
  height: auto; /* ボックスの高さを指定する */
  margin-top: 20px;
  padding: 5px; /* ボックス内左側の余白を指定する */
  color: white; /* フォントの色を指定 */
  text-align: center; /* テキストのセンタリングを指定する */
  background-color: #007BFF;
  border-radius: 5px; /* 角丸を指定する */
  word-break: break-all;
}

.quiz-explanation-content div {
  padding: 7px;
  border: 3px solid lightblue;
  border-radius: 5px;
  background-color: #4fa4ff;
}

.quiz-explanation-reference {
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px; /* ボックス内左側の余白を指定する */
  color: rgb(35, 35, 37); 
  text-align: center; /* テキストのセンタリングを指定する */
  word-break: break-all;
  font-size: 12px;
}

.quiz-navigation {
  display: flex;
  width: 300px;
  margin: 30px auto 0;
  justify-content: space-around;
}

.quiz-navigation a {
  padding: 5px;
  background-color: #007BFF;
  color: white; /* フォントの色を指定 */
  border-radius: 5px;
}

.quiz-random {
  display: flex;
  width: 300px;
  margin: 10px auto 0;
  justify-content: space-around;
}

.quiz-random a {
  width: 80%;
  padding: 5px;
  background-color: #007BFF;
  color: white; /* フォントの色を指定 */
  border-radius: 5px;
  text-align: center;
}
/*------------------------------------------------------------------------------ 
  Rubyクイズ
------------------------------------------------------------------------------ */
.quiz-samplecode {
  width: 60%;
  height: auto;
  margin: 0 auto;
  padding: 0px !important;
  border: none !important;
  border-radius: 0px !important;
}

.quiz-samplecode-title {
  width: 100%;
  font-size: 14px;
  color: #dcdcdc;
  background-color: #4d4d4d !important;
  padding: 5px 20px !important;
  text-align: left;
  border: none !important;
  border-radius: 10px 10px 0 0 !important;
  margin: 0 auto;
}

.quiz-samplecode-main {
  width: 100%;
  font-size: 14px;
  color: whitesmoke;
  background-color: #1b1b1b !important;
  padding: 20px !important;
  text-align: left;
  border: none !important;
  border-radius: 0 0 10px 10px !important;
  white-space: nowrap;
  overflow: auto;
  margin: 0 auto;
}