/*リセットCSS*/
body, h1, h2, p, ul, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* ベーススタイル */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

header {
  height: 116px;
  width: 100vw;
  background-color: gray;
}

.wrapper-select {
  background-color: #effbff;
  height: 100vh;
  width: 100%;
}

.main-select {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contents-select {
  color: black;
  width: 200px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid black;
  font-size: 2em;
  cursor: pointer;
}

.contents-select:hover {
  background-color: #add8e6;
}


.contents-select.read {
  background-color: #d3d3d3;
  color: gray;
}